@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao CRUD da Padaria</h1>
    <p>Sistema CRUD desenvolvido nas aulas de C#.</p>
</div>